// Import Fuse core library
@import "@fuse/scss/core";

// -----------------------------------------------------------------------------------------------------
// @ Multiple material themes example
// -----------------------------------------------------------------------------------------------------
$mat-primary: (
    50: #E3E6E8,
    100: #B9C2C7,
    200: #8a99a1,
    300: #5B707B,
    400: #38515F,
    500: #153243,
    600: #122D3D,
    700: #0F2634,
    800: #0C1F2C,
    900: #06131E,
    A100: #5CADFF,
    A200: #2993FF,
    A400: #0079F5,
    A700: #006CDB,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,    
    )
);

$mat-accent: (
    50: #EFF3F5,
    100: #D6E0E6,
    200: #BBCCD5,
    300: #A0B7C4,
    400: #8BA7B8,
    500: #7798AB,
    600: #6F90A4,
    700: #64859A,
    800: #5A7B91,
    900: #476A80,
    A100: #DCF1FF,
    A200: #A9DCFF,
    A400: #76C7FF,
    A700: #5DBDFF,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: $black-87-opacity,
        600: $black-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $black-87-opacity,    
    )
);
// Define the Material palettes
$yellow-theme-primary: mat-palette($mat-primary);
$yellow-theme-accent: mat-palette($mat-accent);
$yellow-theme-warn: mat-palette($mat-red);

// Create the Material theme object
$yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);

// Add ".yellow-theme" class to the body to activate this theme
.yellow-theme {

    // Generate the Angular Material theme
    @include angular-material-theme($yellow-theme);

    // Generate the fuse color classes with the new colors...
    @include generateFuseColorClasses($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);
}

table {
    width: 100%;
}