<div fxLayout="column" class="w-100-p">
<div fxLayout="row" class="mat-accent-bg w-100-p h-260" fxLayoutAlign="center center">
  <span class="mat-display-2 m-0">Les caisses</span>
</div>
<div fxLayout="row" class="p-24">
    <div class="fuse-card">

      <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
  
          <div class="pr-16">
              <div class="h4 secondary-text">Magazin Ariana</div>
              <div class="h1">Caisse id: 1</div>
          </div>
  
          <div class="w-80 h-80">
              <img src="assets/images/cash-register.png">
          </div>
  
      </div>
  
      <div class="p-16 pt-0">
          <div fxLayout="column">
            <span class="mat-subheading-1 mb-4">Nombre de vente: 100</span>
            <mat-divider></mat-divider>
            <span class="mat-subheading-1 mt-4 mb-0">Recette: 1000 dt</span>
          </div>
      </div>
  
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="accent" (click)="openDialog()">Consulter</button>
          <button mat-button color="accent">Mettre à zero</button>
      </div>
  
    </div>
</div>
</div>