<div fxLayout="column" class="w-100-p">
<div fxLayout="row" class="background-image w-100-p h-160" fxLayoutAlign="center center">
  <span class="mat-display-2 grey-200-fg m-0">MG {{gerant_adresse}}</span>
</div>
<div fxLayout="row wrap" fxLayoutGap="16px" class="p-16">
    <div class="fuse-card mt-16" fxFlex="25" *ngFor="let caisse of caisses; let i=index">

      <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
  
          <div class="pr-16">
              <div class="h4 secondary-text">{{caisse.magasin}} {{caisse.adresse}}</div>
              <div class="h1">Caisse id: {{i}}</div>
          </div>
  
          <div class="w-80 h-80">
              <img src="assets/images/cash-register.png">
          </div>
  
      </div>
  
      <div class="p-16 pt-0">
          <div fxLayout="column">
            <span class="mat-subheading-1 mb-4">Nombre de vente: 100</span>
            <mat-divider></mat-divider>
            <span class="mat-subheading-1 mt-4 mb-0">Recette: {{caisse.recettes}} dt</span>
          </div>
      </div>
  
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="accent" (click)="openDialog(caisse.numero)">Consulter</button>
      </div>
  
    </div>
</div>
</div>