@import '~@angular/material/theming';

// Custom color maps
$mat-white: (
    500: white,
    contrast: (
        500: $black-87-opacity
    )
);

$mat-black: (
    500: black,
    contrast: (
        500: white,
    )
);

$mat-fusedark: (
    50: #ECECEE,
    100: #C5C6CB,
    200: #9EA1A9,
    300: #7D818C,
    400: #5C616F,
    500: #28536B,
    600: #353A48,
    700: #2D323E,
    800: #262933,
    900: #1E2129,
    A100: #C5C6CB,
    A200: #9EA1A9,
    A400: #5C616F,
    A700: #2D323E,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,
    )
);

$mat-primary: (
    50: #E4E6E9,
    100: #BBC1C7,
    200: #8E98A2,
    300: #606F7C,
    400: #3E5060,
    500: #1C3144,
    600: #192C3E,
    700: #142535,
    800: #111F2D,
    900: #09131F,
    A100: #5E9FFF,
    A200: #2B80FF,
    A400: #0063F7,
    A700: #0059DE,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $white-87-opacity,
        400: $white-87-opacity,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,    
    )
);

$mat-accent: (
    50: #EBEEF3,
    100: #CDD5E0,
    200: #ABB9CC,
    300: #899DB8,
    400: #7088A8,
    500: #577399,
    600: #4F6B91,
    700: #466086,
    800: #3C567C,
    900: #2C436B,
    A100: #B3CEFF,
    A200: #80ADFF,
    A400: #4D8CFF,
    A700: #337BFF,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $white-87-opacity,    
    )
);

// Define the Material palettes
$primary: mat-palette($mat-primary);
$accent: mat-palette($mat-accent);
$warn: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($primary, $accent, $warn);

// Store the background and foreground colors for easier access
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

// Force the input field font sizes to 16px
$typography: mat-typography-config(
    $input: mat-typography-level(16px, 1.125, 400)
)